.Rproj.user
.Rhistory
.Rdata
.Ruserdata
.Renviron
.httr-oauth
.DS_Store
*.code-workspace
*.Rproj
vignettes/articles/_site/
vignettes/articles/data/
inst/doc
_R_ideas.md
.lintr
.github/workflows/pkgdown.yaml
*_cache
data-raw
vignettes/_qtalrkit.Rmd
