/* Custom css  */

/* TAGS */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}


/* CLASSES */

.callout {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: .25rem;
  overflow-wrap: break-word;
  padding: .4em .7em;
  border-left: 5px solid;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6
}

/* .navbar-default {
  background-color: #c0c2c4;
  border-color: #e7e7e7;
} */

